{{!< default }}

{{#contentFor "breadcrumbs"}}
<div class="breadcrumb-bar navbar bg-white sticky-top">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/courses">Courses</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">New Course</li>
    </ol>
  </nav>
</div>
{{/contentFor}}

<div class="pt-5">
  <div class="card">
    <div class="card-body">
      <form action="/courses" method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="form-group">
          <label for="name">Course Name</label>
          <input id="name" name="name" class="form-control" autoComplete="off" required />
        </div>

        <div class="" id="sms-number-picker"></div>

        <div class="row justify-content-end">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
