{{!< default }}

{{#contentFor "breadcrumbs"}}
<div class="breadcrumb-bar navbar bg-white sticky-top">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/courses">Courses</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">New Course</li>
    </ol>
  </nav>
</div>
{{/contentFor}}

<form action="/courses" method="POST">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <div class="form-group">
    <label for="name">Course Name</label>
    <input id="name" name="name" class="form-control" />
  </div>

  <div id="sms-number-picker"></div>

  <button type="submit">Submit</button>
</form>
