{{!< default }}

{{#contentFor "breadcrumbs"}}
<div class="breadcrumb-bar navbar bg-white sticky-top">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a href="/home">Courses</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ course.name }}</li>
    </ol>
  </nav>
  <div>
    {{ course.friendly_phone_number }}
  </div>
</div>
{{/contentFor}}

{{#contentFor "sidebar-links"}}
{{/contentFor}}

<div id="messages-page"></div>

{{#contentFor "globals"}}
<script>
  // eslint-ignore
  window.course = {{{ json course }}}
</script>
{{/contentFor}}
