{{!< default }}

{{#contentFor "breadcrumbs"}}
<div class="breadcrumb-bar navbar bg-white sticky-top">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
</div>
{{/contentFor}}

<div>
  home page
  {{#each courses}}
    <div class="card card-team">
  <div class="card-body">
    <div class="dropdown card-options">
      <button class="btn-options" type="button" id="..." data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">more_vert</i>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        ...
      </div>
    </div>
    <div class="card-title">
      <a href="#"><h5>{{ this.name }}</h5></a>
      <span># Projects, # Members</span>
    </div>
  </div>
</div>
  {{/each}}
</div>
